---
export const prerender = false;

import Footer from "@src/components/Footer.astro";
import Menu from "@src/components/Menu.astro";
import Layout from "@src/layouts/Layout.astro";
import { turso } from "@src/turso";
import moment from "moment";

const { id } = Astro.params;

if (id == undefined) return;

const { rows } = await turso.execute({
  sql: "SELECT titulo, contenido, desde, hasta, imagen FROM programacion WHERE id = ? LIMIT 1",
  args: [id],
});
const row = rows[0];
---

<Layout title="Radio Luz Celestial">
  <Menu />
  <main class="container mx-auto grid grid-cols-1 gap-4 h-min">
    <section class="p-4">
      <img
        src={row.imagen?.toString()}
        class="h-60 object-cover float-left mr-4"
      />
      <h3 class="font-bold text-lg">{row.titulo?.toString()}</h3>
      <h3 class="text-base">{row.contenido?.toString()}</h3>
      <p class="mb-0">
        <span class="font-bold">Fecha desde: </span>
        {
          moment(row.desde?.toString())
            .locale("es")
            .format("DD [de] MMMM [de] YYYY, h:mm:ss a")
        }
      </p>
      <p class="mb-4">
        <span class="font-bold">Fecha hasta: </span>
        {
          moment(row.hasta?.toString())
            .locale("es")
            .format("DD [de] MMMM [de] YYYY, h:mm:ss a")
        }
      </p>
    </section>
  </main>
  <Footer />
</Layout>
