---
import Layout from "@src/layouts/Layout.astro";
import Menu from "@src/components/Menu.astro";
import Logo from "@src/components/Logo.astro";
import Reproductor from "@src/components/Reproductor.astro";
import SliderComponent from "@src/components/SliderComponent";
import ChatFormRecaptchaComponent from "@src/components/ChatFormRecaptchaComponent";
import Facebook from "@src/components/Facebook.astro";
import Youtube from "@src/components/Youtube.astro";
import ChatListComponent from "@src/components/ChatListComponent";
import Footer from "@src/components/Footer.astro";
---

<Layout title="Radio Luz Celestial">
  <Menu />
  <Logo />
  <main class="mt-6 container mx-auto">
    <section class="w-full grid grid-cols-1 lg:grid-cols-3">
      <div class="col-span-2 max-w-full">
        <SliderComponent client:only="react" />
      </div>
      <section>
        <Reproductor />
        <ChatFormRecaptchaComponent client:only="react" />
      </section>
    </section>
    <section class="grid grid-cols-1 lg:grid-cols-3">
      <section class="text-center w-full">
        <Facebook />
      </section>
      <section class="w-full">
        <Youtube />
      </section>
      <section class="w-full">
        <ChatListComponent client:only="react" />
      </section>
    </section>
  </main>
  <Footer />
</Layout>
