<nav class="w-full text-center h-10 space-x-8 pt-2">
  <a
    href="/"
    class="text-black hover:text-blue-700 transition-colors duration-200"
    >Ir a Inicio</a
  >
  <a
    href="/nosotros"
    class="text-black hover:text-blue-700 transition-colors duration-200"
    >Ir a Nosotros</a
  >
  <a
    href="/programacion"
    class="text-black hover:text-blue-700 transition-colors duration-200"
    >Ir a Programación</a
  >
  <a
    href="/noticias"
    class="text-black hover:text-blue-700 transition-colors duration-200"
    >Ir a Noticias</a
  >
</nav>
